common: &common
  session_key: _mobilesns_session_id                             # セッションの名称
  application_domain: localhost:3000
  
  # 画像設置rootディレクトリ
  file_column_image_web_root: system/images/
  file_column_image_root_path: public/system/images
  
  # chkconfig出力ディレクトリ
  chkconfig_outputfile_path: public/system/files/chkconfig
  # crontab出力ディレクトリ
  crontab_outputfile_path: public/system/files/cron
  
development:
  <<: *common

test:
  file_column_image_root_path: test/tmp/file_column
  <<: *common

production:
  application_domain: unshiu.drecom.jp
  <<: *common