<div id="sub_menu_col" class="prepend-top container">
<ul id="sub_menu_list" class="sub_menu_tab">
		<%= sub_tab_menus %>
		
		<li class="span-2 " id="addmenu">
			<a href="#">
			<div class="submenu_inner sub_menu_off tab_off">
				<div class="sub_menu_title_col">
					<div class="sub_menu_title hide">
						その他機能を選択もしくはメニューに追加
					</div>
				</div>
				<img src="/images/default/icon/addmenu.gif" width="32" height="32" border="0" alt="">
			</div>
			</a>
				<ul id="sub_sub_menu_list" class="sub_menu_tab">
					<%= sub_sub_tab_menus %>
				</ul>
		</li>
</ul>
</div><!--/sub_menu-->