<div id="header_search_col" class="span-6 prepend-12 first last">
	<div id="header_search_box" class="clearfix">
		<div id="search_list"  class="span-1 first" >
			<a href=""><img src="/images/default/icon/naviarrow_under.gif" alt=""></a>
		<ul id="search_list" class="span-1 first hide">
			<li class="search_item first_child">全体</li>
			<li class="search_item">日記</li>
			<li class="search_item">受信箱</li>
			<li class="search_item last_child">コミュニケーション</li>
		</ul>
		</div>
		<div id="search_inputfield" class="">
			<input type="text" size="" maxlength="" name="" value="全体から検索" class="span-4" >
		</div>

	</div><!--/header_search_box-->
</div><!--/header_search_col-->